$basic: #2CC295;
$gray: #808080;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $basic;
    padding-top: 24px;
}
button,
.button{
    display: flex;
    justify-content: center;
    width: 211px;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.hover{
    color: black;
    background-color: $basic;
    border: 2px solid black;
    &:hover{
        color: white;
        background-color: black;
    }
}
.account{
    display: inline-flex;
    align-items: center;
    gap: 20px;
    a{
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        color: black;
    }
}
nav{
    ul{
        display: inline-flex;
        gap: 24px;
        li{
            list-style: none;
            .active{
                font-weight: 700;
            }
            a{
                text-decoration: none;
                color: black;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 4px;
            }
        }
    }
}
.header{
    max-width: 1600px;
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    position: fixed;
    background-color: rgba(44, 194, 149, 0.4);
    backdrop-filter: blur(10px);
    z-index: -1;
    max-height: 92px;
    height: 100%;
}
header{
    position: fixed;
    z-index: 6;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    padding: 16px;
    border-radius: 16px;
}
section{
    width: 100%;
    display: flex;
    padding: 20px 40px;
}
p{
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 1px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    .Banner{
        height: 100vh;
        .BannerBlock{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 160px;
            gap: 60px;
            max-width: 860px;
            z-index: 2;
            width: 100%;
            .banner{
                display: flex;
                flex-direction: column;
                gap: 24px;
                span{
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: 4px;
                }
            }
            .buttons{
                display: inline-flex;
                gap: 60px;
            }
        }
        .messange{
            cursor: pointer;
            position: fixed;
            z-index: 15;
            bottom: 40px;
            right: 129px;
        }
        .mess{
            position: fixed;
            z-index: 10;
            right: 280px;
            bottom: 40px;
            z-index: 20;
        }
        .hidden {
            display: none;
        }
    }
    .right{
        img{
            position: absolute;
            z-index: 1;
            right: 0px;
            top: 0px;
        }
    }
    .Advantages{
        padding-top: 140px;
        z-index: 10;
        .AdvantagesBlock{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 80px;
            .advantages{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                .items{
                    display: inline-flex;
                    justify-content: space-between;
                    width: 100%;
                }
                .item{
                    display: flex;
                    flex-direction: column;
                    border-radius: 24px;
                    max-width: 755px;
                    width: 100%;
                    padding: 16px;
                    gap: 24px;
                    background-color: rgba(137, 215, 202, 0.4);
                    p{
                        font-size: 32px;
                    }
                    span{
                        font-size: 20px;
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }
    .Account{
        padding: 100px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .accauntBlock{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 60px;
            width: 100%;
            .chapter{
                font-size: 48px;
                font-weight: 600;
            }
            .profile{
                display: inline-flex;
                justify-content: space-between;
                padding: 20px 0px;
                max-width: 1160px;
                width: 100%;
                .account{
                    display: inline-flex;
                    align-items: center;
                    gap: 20px;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                    a{
                        font-size: 48px;
                        font-weight: 600;
                        color: black;
                    }
                }
                button{
                    background-color: #89D7CA;
                    border-radius: 16px;
                    max-width: 493px;
                    width: 100%;
                    font-size: 24px;
                    padding: 20px;
                    font-weight: 600;
                    color: black;
                    font-size: 24px;
                    font-weight: 600;
                }
            }
            .editProfile{
                display: flex;
                flex-direction: column;
                gap: 24px;
                max-width: 1564px;
                width: 100%;
                background-color: #89D7CA;
                padding: 28px;
                border-radius: 16px 16px 0px 0px;
                .clientele{
                    height: 159px;
                }
                .item{
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .full{
                        max-width: 573px;
                    }
                    span{
                        font-size: 24px;
                        max-width: 478px;
                        width: 100%;
                    }
                    .name{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 16px;
                        span{
                            font-size: 32px;
                            font-weight: 400;
                            color: rgba( 0, 0, 0, 0.6);
                        }
                        p{
                            font-size: 40px;
                            font-weight: 700;
                        }
                        img{
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .mes{
                        max-width: none;
                    }
                    .norm{
                        background-color: #FFA500;
                    }
                    .bad{
                        background-color: #FF0000;
                    }
                    button{
                        background-color: #2CC295;
                        border-radius: 8px;
                        max-width: 223px;
                        padding: 14px 55px;
                        width: 100%;
                        font-size: 24px;
                        font-weight: 600;
                        color: white;
                    }
                }
            }
        }
    }
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #022322;
    padding: 20px;
    .footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 1600px;
        width: 100%;
    }
    nav{
        padding: 16px 0px;
        ul{
            display: inline-flex;
            gap: 24px;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: #AACCC5;
                }
            }
        }
    }
    .line{
        background-color:  #04614C;
        height: 1px;
    }
    .bottom{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        .copyraiting{
            color: #AACCC5;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 4px;
        }
        .icons{
            display: inline-flex;
            gap: 36px;
            img{
                height: 23px;
            }
        }
    }
}
// Modal
.modaloverlay{
    display: flex;
    justify-content: center;
    background:rgba(0,0,0,0.8);
    bottom:0;
    left:0;
    opacity:0;
    position:fixed;
    right:0;
    top:0;
    z-index:-1;
  &:target{
    opacity:1;
    pointer-events:auto;
    z-index:99999;
  }
  .request{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 54px;
    max-width: 1210px;
    max-height: 514px;
    border-radius: 0px;
    position: absolute;
    padding: 52px 30px;
    bottom: 0px;
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        button{
            a{
                color: white;
            }
        }
    }
    .input-box{
        input::placeholder{
            padding: 22px 24px;
        }
    }
    button{
        font-size: 16px;
    }
    .title{
        display: flex;
        align-items: center;
        height: 100%;
        p{
            font-weight: 400;
        }
    }
  }
  .log{
    max-height: 518px;
    max-width: 457px;
    border-radius: 30px;
    margin:5% auto;
    position: relative;
  }
  .reg{
    max-height: 700px;
    max-width: 457px;
    border-radius: 30px;
    margin:5% auto;
    position: relative;
  }
  .modal{
    display: flex;
    justify-content: center;
    background-color:white;
    height:100%;
    width: 100%;

    // @media (min-width: 60em) {
    //     height:75%;
  	//     margin:5% auto;
  	//     max-height: 518px;
    //     max-width: 457px;
    //     width: 100%;
  	// }
	> iframe, > div{
		border:none;
		width:100%;
		height:100%;
    }
  }
  .close{
    color: $gray;
    font-size:24px;
    padding:8px 12px;
    position:absolute;
    right:0;
    text-align:center;
    text-decoration:none;
    top:0;
    border-radius: 30px;
    z-index: 1;
  }
}
.input-box{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: #EAF5F2;
    margin: 12px 0;
    position: relative;
    input{
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        padding-right: 28px;
        &:focus ~ label,
        &:valid ~ label{
            top: -5px;
            color: $basic;
            font-size: 14px;
        }
    }
    .icon{
        position: absolute;
        top: 13px;
        right: -100px;
        font-size: 19px;
        padding: 0px 16px;
    }
    label{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 16px;
        font-weight: 500;
        padding: 0px 16px;
        color: $gray;
        transition: .3s ease;
    }
}
.formbox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 74px 0;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    form{
        display: flex;
        flex-direction: column;
        gap: 14px;
        max-width: 273px;
        width: 100%;
    }
    &.login{
        max-height: 518px;
        height: 100%;
    }
    h2{
        align-items: center;
        font-size: 35px;
    }
    .remmeber-password{
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        label{
            font-size: 14px;
            input{
                accent-color: $basic;
                margin-right: 3px;
            }
        }
        a{
            color: $gray;
            font-weight: 600;
            text-decoration: none;
            &:hover{
                color: $basic;
                text-decoration: none;
            }
        }
    }
    .button{
        max-width: none;
        width: 100%;
        font-size: 14px;
        a{
            font-size: 14px;
        }
    }
    .line{
        background-color:  black;
        height: 1px;
        width: 100%;
    }
    span{
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
    .hover{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        gap: 8px;
        border: 1px solid black;
        background-color: white;
        a{
            color: black;
        }
        &:hover{
            background-color: black;
            a{
                color: white;
            }
        }
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        gap: 8px;
        .sub-title{
            font-size: 16px;
            font-weight: 700;
        }
        .question{
            font-size: 12px;
        }
        .create-account{
            font-size: 14px;
            text-align: center;
            a{
                color: #04614C;
                font-weight: 600;
                text-decoration: none;
                &:hover{
                    color: $basic;
                    font-weight: 600;
                }
            }
        }
    }
}